<h1> <%= @player1.name %> and <%= @player2.name %> start the battle </h1>
<h1> <%= @player2.name %>: <%=@player2.hit_points%> </h1>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
